$font_folder: '../assets/fonts/';

@font-face {
    font-family: 'Lato';
    src: url($font_folder + 'LatoWeb-Regular.ttf');

}

@font-face {
    font-family: 'Novecento_sans_bold';
    src: url($font_folder + 'Novecentosanswide-Bold.otf');
}

@font-face {
    font-family: 'Novecento_sans_light';
    src: url($font_folder + 'Novecentosanswide-Book.otf');
}

@font-face {
    font-family: 'Novecento_slab_normal';
    src: url($font_folder + 'Novecentoslabwide-Normal.otf');
}