#footer {
    /* position */
    width: 100%;
    height: 6em;
    position: absolute;
    bottom: 0px;
    z-index: 10;

    /* style */
	color: #444;
    text-align: center;
    border-top: thin #000 solid;

    h6 {
        font-size: 1em;
    }
    
    ul {
        list-style: none;
        padding: 0 10px;
    }

    li {
        margin: 10px;
    }

    a {
        text-decoration: none;
        color: #555;
    }

    .container {
        border: none;
    }

    @media (min-width: 48em) {
        .container {
            text-align: left;
            max-width: 100vw;
        }

        .col-1-2 {
            margin: 0 2rem;
        }
    }
}
