#home {
	.hero {
		flex-direction: column;
		text-align: center;
	}

	#welcome {
		background: url('/imgs/lobsterNebula.jpg') center #111;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 61.8vh;
		width: 100%;
	}


	#lobsters {
		background: #fff;
		height: 38.2vh;
		width: 100%;
		display: flex;
		flex-direction: row;

		&::before {
			content: "";
			position: absolute;
			top: 59vh;
			height: 3vh;
			width: 66.6666%;
			background: #fff;
		}

		b {
			font-weight: 700;
			color: $lobsterRed;
		}

		#brief {
			margin-top: -3vh;
			padding: 0 auto;
			display: flex;
			flex-direction: column;
		}

		h2 {
			position: relative;

		}

		.blockquote {
			display: flex;
			flex-direction: column;
			align-self: center;
		}

		blockquote {
			max-width: 50em;
			margin: 0 auto;
			padding: 0 1em;
		}
	}
}
