$about_accent_colour: #cc2c18;

#about {
    .hero {
        background: url('../assets/imgs/about.jpg') #33322d center no-repeat fixed;
        background-size: cover;

        b {
            border-bottom: 6px $about_accent_colour solid;    
        }
    }

    a {
        color: $about_accent_colour;
    }
}
