@import '~normalize.css/normalize.css';
@import 'modules/_fonts';

html {
	box-sizing: border-box;
	height: 100%;
	overflow-x: hidden;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.hero {
	width: 100vw; //98.95
	height: 100vh;
	border: thin #333 solid;
	display: flex;
	justify-content: center;
	align-items: center;

	header {
		color: white;

		h1 {
			margin: 0.05em;
		}
	}
}

body {
	background: #fff;
	font-family: Lato;
}

h1 {
	font-family: 'Novecento Sans Bold';
	font-size: 200px;
}

h2 {
	font-family: Novecento;
	font-style: italic;
	font-size: 50px;
}

h3 {
	font-family: 'Novecento Sans Light';
	font-size: 4em;
}

@media (max-width: 1000px) {
	h1 { font-size: 20vw }
	h2 { font-size: 5vw }
	h3 { font-size: 6.4vw }
}

footer {
	background: #333;
	color: #f0f0f0;
	padding: 2rem;
}

.articles_wrapper {
	max-width: 65rem;
	margin:2em auto 2em auto;
	padding: 2em;

	article {
		max-width: 50rem;
		margin: 0 auto 0 auto;
		text-align: justify;

		div {
			margin-top: 10px;
		}
	}
}
