@import '~normalize.css/normalize.css';
@import 'modules/_fonts';

html {
	box-sizing: border-box;
	height: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.hero {
	width: 98.95vw;
	height: 100vh;
	border: thin #333 solid;
	background: url('../assets/imgs/DSC_5142.jpg') center no-repeat;
	background-size: cover;
	text-align: center;

	header {
		margin-top: 50px;
		color: white;
		// border: thin #fff solid;

		h2 {
			margin-top: -5rem;
		}
	}
}

body {
	background: #f0f0f0;
	font-family: Lato;
}

h1 {
	font-family: 'Novecento Sans Bold';
	font-size: 200px;
}

h2 {
	font-family: Novecento;
	font-style: italic;
	font-size: 50px;

	b {
		text-decoration: underline;
	}
}

h3 {
	font-family: 'Novecento Sans Light';
	font-size: 100px;
}