@import '~normalize.css/normalize.css';
@import 'modules/_fonts.scss';

html {
	box-sizing: border-box;
	height: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.hero {
	width: 100vw;
	height: 100vh;
	border: thin #333 solid;

	header {
		color: white;
		position: absolute;
		left: 50vw;
		top: 50vh;
		border: thin #222 solid;
	}
}

body {
	background: #f0f0f0;
	font-family: Lato;
}

h1 {
	font-family: Novecento_sans_bold;
	font-size: 200px;
}

h2 {
	font-family: Novecento_slab_normal;
	font-style: italic;
	font-size: 50px;

	b {
		font-weight: bold;
	}
}

h3 {
	font-family: Novecento_sans_light;
	font-size: 100px;
}