$article_accent_colour: #2c18cc;

#articles {
	.hero {
        background: url('../assets/imgs/articles.jpg') center no-repeat fixed;
        background-size: cover;
    }

    b {
        border-bottom: 6px #2c18cc solid;    
    }
}

