// Colours

$lobsterRed: #cc2c18;

// Fonts

$font_folder: '../../public/fonts/';
$nove_name: 'Novecentoslabwide-Regular';
$nove_light_name: 'Novecentosanswide-Book';
$nove_bold_name: 'Novecentosanswide-Bold';

@font-face {
    font-family: 'Novecento';
    src: url($font_folder+'woff2/'+$nove_name+'.woff2') format('woff2'), url($font_folder+'woff/'+$nove_name+'.woff') format('woff'), url($font_folder+'otf/'+$nove_name+'.otf') format('opentype');
}

@font-face {
    font-family: 'Novecento Sans Light';
    src: url($font_folder+'woff2/'+$nove_light_name+'.woff2') format('woff2'), url($font_folder+'woff/'+$nove_light_name+'.woff') format('woff'), url($font_folder+'otf/'+$nove_light_name+'.otf') format('opentype');
}

@font-face {
    font-family: 'Novecento Sans Bold';
    src: url($font_folder+'woff2/'+$nove_bold_name+'.woff2') format('woff2'), url($font_folder+'woff/'+$nove_bold_name+'.woff') format('woff'), url($font_folder+'otf/'+$nove_bold_name+'.otf') format('opentype');
}

@font-face {
    font-family: 'Space Mono';
    src: url($font_folder+'otf/Space Mono regular.ttf') format('opentype');
}

// User styles

@import './modules/About';
@import './modules/App';
@import './modules/Article';
@import './modules/Articles';
@import './modules/Code';
@import './modules/Footer';
@import './modules/Gallery';
@import './modules/Home';
@import './modules/Login';
@import './modules/NavBar';
@import './modules/NotFound';
@import './modules/DataExplorer';

// Admin styles

@import './modules/Admin/Admin';
@import './modules/Admin/AdminNavBar';
@import './modules/Admin/Dashboard';

// Font Awesome

@import './fontAwesome/variables';
@import './fontAwesome/mixins';
@import './fontAwesome/path';
@import './fontAwesome/core';
@import './fontAwesome/larger';
@import './fontAwesome/fixed-width';
@import './fontAwesome/list';
@import './fontAwesome/bordered-pulled';
@import './fontAwesome/animated';
@import './fontAwesome/rotated-flipped';
@import './fontAwesome/stacked';
@import './fontAwesome/icons';
@import './fontAwesome/screen-reader';
