$navHeight: 50px;
$navTextSize: 17px;

nav#navbar {
	background: rgba(57, 57, 57, .8);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 210px;
	height: $navHeight;
	-webkit-backdrop-filter: blur(10px);
	z-index: 1;

	ul {
		list-style: none;
		float: right;
		font-size: $navTextSize;
		margin-top: ($navHeight - $navTextSize) / 2;
		margin-bottom: ($navHeight - $navTextSize) / 2;
		padding-right: 5vw;


		li {
			display: inline-block;
			padding-left: 1.25vw;
			padding-right: 1.25vw;
			padding-bottom: 0.3em;
			text-align: center;

			&:hover {
				#red { border-bottom: 3px solid #cc2c18; }
				#green { border-bottom: 3px solid #2ccc18; }
				#blue { border-bottom: 3px solid #2c18cc; }
			}

			a {
				text-decoration: none;
				color: white;
			}
		}
	}
}

#logo {
	display: inline-flex;
	align-items: center;
	font-family: Novecento Sans Light;
	font-weight: bold;
	color: white;
	font-size: 1.3em;
	max-width: 300px;

	img {
		width: $navHeight - 20px;
		height: auto;
		margin: 10px;
	}

	span {
		margin: 5px;
	}
}

@media (max-width: 470px) {
	nav#navbar span { display: none }
}
