$navHeight: 50px;
$navTextSize: 1em;

nav#navbar {
	display: block;
	background: rgba(57, 57, 57, .9);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: $navHeight;

	img {
		width: $navHeight - 20px;
		height: auto;
		margin: 10px;
	}

	ul {
		list-style: none;
		float: right;
		font-size: $navTextSize;
		margin-top: calc(($navHeight - 1.2em) / 2);
		margin-bottom: calc(($navHeight - 1.2em) / 2);
		padding-right: 5vw;


		li {
			display: inline-block;
			padding-left: 1.25vw;
			padding-right: 1.25vw;
			padding-bottom: 0.3em;
			color: white;
			text-align: center;

			&:hover {
				border-bottom: 2px solid #cc2c18;
			}

			a {
				text-decoration: none;
				
				&:visited {
					color: white;
				}
			}
		}
	}
}
